<!doctype html>
<html lang="en">
<head>
<title>Scoreboard v0</title>
<link href="/css/scorer.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" data-main="scorer" src="/js/requireplugins-jquery-1.4.4.js"></script>
</head>
<body>

<div id="main">
	
	<fieldset>
		<legend id="home-team">Home team name</legend>
		<input type="textbox" id="home-score"  size="2" />
		<div class="score-buttons"><button type="button" id="home-scored" >+</button>
		<button type="button" id="home-correction" >-</button>
	</fieldset>
	
	<fieldset>
		<legend id="away-team">Away team name</legend>
		<input type="textbox" id="away-score"  size="2" />
		<div class="score-buttons"><button type="button" id="away-scored" >+</button>
		<button type="button" id="away-correction" >-</button>
	</fieldset>
		
	<fieldset>
		<button type="button" id="update-score" >update</button> <br />
		<input type="checkbox" id="finalize-score" value="final score"/>
		<label for="finalize-score">final score</label> 
	</fieldset>				

</div>

</body>
</html>