<!doctype html>
<html lang="en">
<head>
<title>Scoreboard</title>
<link href="/css/scoreboard.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" data-main="scoreboard" src="/js/requireplugins-jquery-1.4.4.js"></script>
</head>
<body>
<div id="main" class="">
	<div id="field" class="" >[field]</div>
	<div id="home-score" class="score" >0</div>
	<div id="away-score" class="score" >0</div>
	<div id="clock" class="clock" >00:00</div>
	<div id="home-team" class="team" >[home]</div>
	<div id="away-team" class="team" >[away]</div>
</div>
<span id="sound"></span>

</body>
</html>