<!doctype html>
<html lang="en">
<head>
<title>Scorer v0</title>
<link href="/css/scorer.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" data-main="scorer" src="/js/requireplugins-jquery-1.4.4.js"></script>
</head>
<body>

<div id="main">
	
	<fieldset>
		<legend id="home-team">Home team name</legend>
		<input type="textbox" id="home-score"  size="2" value="0" readonly />
		<div class="score-buttons"><button type="button" id="home-scored" >+</button>
		<button type="button" id="home-correction" >-</button>
	</fieldset>
	
	<fieldset>
		<legend id="away-team">Away team name</legend>
		<input type="textbox" id="away-score"  size="2" value="0" readonly />
		<div class="score-buttons"><button type="button" id="away-scored"  >+</button>
		<button type="button" id="away-correction" >-</button>
	</fieldset>
		
	<fieldset>
		<button type="button" id="update-score" disabled >update</button>
		<span id="updated-info">updated</span><span id="not-updated-info">not updated!</span><br />
		<input type="checkbox" id="final-score"/>
		<label for="final-score">final score</label> 
	</fieldset>				

</div>

</body>
</html>