body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	font-size: 32px;
}

div {
	margin:0;
	padding:0;
	position: absolute;
}

#main {
	width: 100%;
	height: 100%;
}

#field {
	left: 0%;
	top: 1%;
	width: 100%;
	text-align: center;
}

#home-score {
	left: 0%;
	top: 25%;
}

#away-score {
	right: 0%;
	top: 25%;
}

#home-team {
	left: 1%;
	top: 70%;
}

#away-team {
	right: 1%;
	top: 70%;
}

.score {
	height: 40%;
	width: 25%;
	font-size: 600%;
	text-align: center;
}

#clock {
	left: 30%;
	width: 40%;
	top: 30%;
	height: 25%;
	text-align: center;
	font-size: 400%;
}


.border {
	border: solid 1px #000;
}

