body {
	font-size: 1em;
}

#main {
	width: 200px;
}

.team {
	float: left;
}

.score {
	float: right;
}

.score-buttons {
	float: right;
}

.team-wrapper {
	clear: both;
}

#updated-info {
	font-weight: bold;
	color: #0d0;
	visibility: hidden;
}
